@import 'src/colors';
// @import 'src/grid';
@import '@pickit/pickit-grid-system';

.home-container {
  display: block;
  height: 100%;
  img {
    width: 100px;
  }
  .options-examples {
    display: block;
    margin-top: 50px;
    select {
      width: 130px;
    }
  }
}

.button {
  @include theme-selector('background-color', 'color-button', true);
  @include theme-selector('border-color', 'color-button', true);
  border-radius: 5px;
  border-width: 0px;
  margin-right: 200px;
  padding: 20px 40px;
}

.main-button {
  width: 100%;
}

.container {
  background: orange;
  border-radius: 8px;
  height: 100px;
  position: relative;

  &-fluid {
    height: 200px;
  }

  @at-root {
    [class*='col-'] {
      div {
        // border: 1px solid red;
        // outline: 2px solid red;
        margin-bottom: 10px;
      }
    }
  }

  @include container(12, 20px, 1000px);
}

input {
  box-sizing: border-box;
}
