$themes: (
  default: (
    color-background: #faf8eb,
    color-button: orange,
  ),
  dark: (
    color-background: #323b3e,
    color-button: yellow,
  ),
);

@mixin theme-selector($key, $color, $isModule) {
  @each $theme-name, $theme-color in $themes {
    @if $isModule {
      #{':global'}(.theme-#{$theme-name}) & {
        #{$key}: map-get(map-get($themes, $theme-name), $color);
      }
    } @else {
      .theme-#{$theme-name} & {
        #{$key}: map-get(map-get($themes, $theme-name), $color);
      }
    }
  }
}
