@import './media';

@mixin create-col-classes($modifier, $grid-cols, $breakpoint, $gutter) {
  @include create-mq($breakpoint) {
    @for $i from 1 through $grid-cols {
      &-col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i)) * 1%;
        padding-left: calc(#{$gutter});
        box-sizing: border-box;
      }
    }
  }
}

@mixin container($grid__cols, $gutter, $grid__width: '') {
  @if $grid__width != '' {
    max-width: calc(#{$grid__width});
    margin: 0 auto;
  }

  &-fluid {
    margin: 0;
    max-width: 100%;
  }

  &-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + #{$gutter});
    margin-left: calc(-#{$gutter});
  }

  @each $modifier, $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint, $gutter);
  }
}
