@import 'src/colors';

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

body {
  @include theme-selector('background', 'color-background', false);
}
